@import url("./normalize.css");
@import url("./fonts.css");

html,
body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

/* Blank 상태에서 전경색을 정의합니다. */
body {
  background-color: #d6d1b8;
}

#root {
  width: 100%;
  height: 100%;
}
